body {
  background: #131313;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background-color: #252525;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 10px 25px gray;;
}